apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db-ruvicha
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-ruvicha
  template:
    metadata:
      labels:
        app: db-ruvicha
    spec:

      containers:
        - name: db-ruvicha
          image: harbor.tupi.im/marketplace/db-ruvicha:v0.1.0-1-stable
          ports:
            - containerPort: 5432
              protocol: TCP  

          env:
          - name: POSTGRES_DB
            value: "ruvicha"
          - name: POSTGRES_PASSWORD
            value: "123456"
          - name: POSTGRES_USER
            value: "postgres"

          volumeMounts:
            - name: db-ruvicha
              mountPath: /var/lib/postgresql/data
              
      imagePullSecrets:
      - name: secret-harbor

      volumes:
        - name: db-ruvicha
          # configMap:
          #   name: db-ruvicha-configmap
          
              
  volumeClaimTemplates:
    - metadata:
        name: db-ruvicha
      spec:
        accessModes:
          - ReadWriteOnce
        # storageClassName: "manual"
        resources:
          requests:
            storage: 1Gi